{
  "env": {
    "development": {
       "presets": [
          ["@babel/preset-react", {
            "runtime": "automatic",
            "importSource": "@emotion/react"
          }]
        ],
        "plugins": ["@emotion"]
     },
    "production": {
      "presets": [
        ["@babel/preset-react", {
          "runtime": "automatic",
          "importSource": "@emotion/react"
        }]
      ],
      "plugins": [
        "transform-remove-console",
        "@emotion"
      ],
      "comments": false
    }
  }
}