ytmusic-player:not([player-ui-state_="FULLSCREEN"]) #songDivNode {
  display: none;
}

@media (max-width: 1500px) {
  ytmusic-player[player-ui-state_="FULLSCREEN"] #thumbnail {
    flex-direction: column;
  }

  #songDivNode {
    text-align: center;
    padding: 80px 0 80px;
    max-width: 80vw !important;
  }
}

@media (min-width: 1499px) {
  #songDivNode {
    max-width: 40vw;
  }
}
