#songDivNode {
  max-width: 650px;
}

ytmusic-player:not([player-ui-state="FULLSCREEN"]) #songDivNode {
  display: none;
}

@media (orientation: portrait) {
  ytmusic-player[player-ui-state="FULLSCREEN"] #thumbnail {
    flex-direction: column;
  }

  #songDivNode {
    text-align: center;
    padding: 40px 0 40px;
  }
}

@media (max-width: 1199px) {
  #songDivContainer {
    display: none;
  }
}
